<ion-content>
  <ion-card-header>
    <ion-card-title>{{selectedCourse.name}}</ion-card-title>
    <ion-card-subtitle>{{selectedCourse.code}} / {{selectedCourse.schedule}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Date Selected:</ion-label>
        <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="selectedDate" (ionChange)="changeDate()"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Status: </ion-label>
        <ion-label color="{{attendanceStatus == 'Attendance taken' ? 'primary' : 'danger'}}">{{attendanceStatus}}</ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>Present: {{presentCount}}</ion-col>
          <ion-col>Absent: {{absentCount}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="attendances.length !== 0">
    <ion-item *ngFor="let attendance of attendances">
      <ion-label>{{attendance.Attendance.student_name}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="attendance.Attendance.is_present"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="attendances.length === 0">
    <ion-item>
      <ion-card-header>
        <ion-card-title>No Students Yet</ion-card-title>
        <ion-card-subtitle>Go to the students tab to add a student</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
  <ion-button expand="block" (click)="selectAllStudents()" *ngIf="attendances.length !== 0" color="secondary">Select All</ion-button>
  <ion-button expand="block" (click)="saveAttendances()" *ngIf="attendances.length !== 0">Save</ion-button>
</ion-content>