<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{selectedCourse.name}}</ion-card-title>
      <ion-card-subtitle>{{selectedCourse.code}} / {{selectedCourse.schedule}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-list *ngIf="students.length !== 0">
    <ion-item *ngFor="let student of students">
      <ion-label>{{student.Student.name}}</ion-label>
      <ion-button fill="clear" (click)="editStudent(student)"><ion-icon slot="icon-only" name="create"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="deleteStudent(student.Student.id)"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="students.length === 0">
    <ion-item>
      <ion-card-header>
        <ion-card-title>No Students Yet</ion-card-title>
        <ion-card-subtitle>Click the + button below to add a student</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addStudent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>