<ion-content>
  <ion-item>
    <ion-input placeholder="First Name" [(ngModel)]="user.firstName"></ion-input>
    <ion-label text-wrap color="danger" position="floating">{{errors.first_name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Last Name" [(ngModel)]="user.lastName"></ion-input>
    <ion-label text-wrap color="danger" position="floating">{{errors.last_name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Position" [(ngModel)]="user.position"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Username" [(ngModel)]="user.username"></ion-input>
    <ion-label text-wrap color="danger" position="floating">{{errors.username}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password" type="password" [(ngModel)]="user.password"></ion-input>
    <ion-label text-wrap color="danger" position="floating">{{errors.password}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Confirm Password" type="password" [(ngModel)]="user.confirmPassword"></ion-input>
    <ion-label text-wrap color="danger" position="floating">{{errors.confirm_password}}</ion-label>
  </ion-item>
  <ion-item>
   <ion-label>Gender</ion-label>
    <ion-select [(ngModel)]="user.gender">
      <ion-select-option value="2" selected="true">Female</ion-select-option>
      <ion-select-option value="1">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Birthday</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" value="2019-03-31" [(ngModel)]="user.birthday"></ion-datetime>
  </ion-item>
  <ion-item><ion-input placeholder="Contact Number" [(ngModel)]="user.contactNo"></ion-input></ion-item>
  <ion-button expand="block" (click)="update()">Submit</ion-button>
  <ion-button expand="block" (click)="cancel()" color="light">Go Back</ion-button>
</ion-content>
