<ion-content>
  <ion-card>
    <div class="container-profile">
      <img src="/assets/images/default_image.png">
      <div>
        <ion-card-title>Full Name</ion-card-title>
        <ion-card-subtitle>Position</ion-card-subtitle>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <ion-item routerLink="/courses" detail>
      <ion-card-header>
        <ion-card-title>My Courses</ion-card-title>
        <ion-card-subtitle>Manage you handled courses</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item routerLink="/students" detail>
      <ion-card-header>
        <ion-card-title>My Students</ion-card-title>
        <ion-card-subtitle>View all students or search for a specific one</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item routerLink="/profile" detail>
      <ion-card-header>
        <ion-card-title>My Details</ion-card-title>
        <ion-card-subtitle>Edit your own info</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
</ion-content>
