<ion-content>
  <ion-searchbar placeholder="Enter Student Name"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Student Name (Subject Code)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ba, Yao (PROG-69)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Doe, John (MATH-101)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Munoz, Pepsi (LJC-143)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pa, Jooms (PROG-69)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sore, Denny (CMO-02)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sy, Ngee (ENG-4)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tan, Leng (STOCK-999)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>