<ion-content>
  <ion-card-header>
    <ion-card-title>{{selectedCourse.name}}</ion-card-title>
    <ion-card-subtitle>{{selectedCourse.code}} / {{selectedCourse.schedule}}</ion-card-subtitle>
  </ion-card-header>
  <ion-list *ngIf="criteria.length !== 0">
    <ion-item *ngFor="let criterion of criteria">
      <ion-label>{{criterion.Criterion.name}}</ion-label>
      <ion-note slot="start">{{criterion.Criterion.percentage}}%</ion-note>
      <ion-button fill="clear" (click)="editCriteria(criterion)"><ion-icon slot="icon-only" name="create"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="deleteCriteria(criterion.Criterion.id)"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="criteria.length === 0">
    <ion-item>
      <ion-card-header>
        <ion-card-title>No Criteria Yet</ion-card-title>
        <ion-card-subtitle>Click the + button below to add a criteria</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCriteria()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>