<ion-content>
  <ion-item><ion-input placeholder="First Name"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Middle Name"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Last Name"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Username"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Job Title"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Password" type="password"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Confirm Password" type="password"></ion-input></ion-item>
  <ion-item>
   <ion-label>Gender</ion-label>
    <ion-select>
      <ion-select-option value="1" selected="true">Female</ion-select-option>
      <ion-select-option value="0">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Birthday</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" value="2019-03-31"></ion-datetime>
  </ion-item>
  <ion-item><ion-input placeholder="Contact Number"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Address"></ion-input></ion-item>
  <ion-button expand="block" (click)="register()">Submit</ion-button>
</ion-content>
